<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/media/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />
  <title>QuACS</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script
			  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
			  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
			  crossorigin="anonymous"></script>
</head>
<body>
  <div id="app">

    <div class="container">
      <div class="row">
        <br>
      </div>
      <div class="row">
        <div class="col-xs">
        </div>
        <div class="col-lg">
          <div class="alert alert-info" role="alert">
            <b>NOTE:</b> QuACS is currently showing course schedules for Summer 2020
          </div>
          <img src="/media/quacs_logo.png" alt="QuACS logo" height="50">
          <br>
          <!--- <h1>Welcome to QuACS!</h1> --->
          <p>
            <h3>Welcome to QuACS!</h3>
            This website was quickly made because I dont understand how yacs has not been updated yet and I found it very hard to visualize course conflicts without yacs
            <br>
            You can view the source code here <a href="https://github.com/elihschiff/quacs">https://github.com/elihschiff/quacs</a>. Feel free to make a PR or add an issue. I will try to fix any bugs.
            <br>
            - ELi
          </p>
          <h3>How to use:</h3>
          <ul>
            <li>To use the website, click the checkbox next to any section of classes to add it to classes you plan on registering for.
            <li>Then, click the check conflict button next to any class to see if it conflicts with any of the classes you have selected.
            <li>Please notice that the "check conflict" button only checks for conflicts regarding that specific course, but it does not account for any conflicts that may exist between the courses you have already selected.
            <li>If the button flashes green, that course does not conflict with any of the classes you have selected. If it flashes red, it does conflict.
            <li>This website will also account for 6 week courses. So, if 2 courses happen at the same time, but during different halves of the sumemr, they will not be marked as conflicting.
          </ul>
          <br>
          <h3>Selected courses:</h3>
          <div v-for="(val,crn) in selected">
            <div v-if="val">{{crn}} {{crn_to_name[crn]}}</div>
          </div>
          <br>
          <br>
          <h3>All courses:</h3>
          <div v-for="department in courses">
            <h3 onclick="$(this).parent().children('.course-container').slideToggle()" style="cursor: pointer;">{{department.code}}</h3>
            <div class="course-container" style="display: none;">
              <div v-for="course in department.courses" style="margin-left:2rem">
                <h5>{{course.Title}}</h5>
                <div v-for="section in course.Sections" style="margin-left:2rem">
                  <button type="button" v-on:click="checkConflict(section.timeslots, $event, section.CRN)">Check Conflict</button>
                  <input type="checkbox" :id="section.CRN" v-model="selected[section.CRN]" v-bind="timeslots[section.CRN]=section.timeslots, crn_to_name[section.CRN] = section.Title">
                  CRN:{{section.CRN}} Dates:{{section.timeslots[0].Date_start}}-{{section.timeslots[0].Date_end}}
                  <div v-for="time in section.timeslots" style="margin-left:2rem">
                    <div v-for="day in time.Days" style="margin-left:2rem">
                      {{day}}: {{time.Time_start}}-{{time.Time_end}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs">
        </div>
      </div>
    </div>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        courses: null,
        selected: {},
        crn_to_name: {},
        timeslots: {}
      },
      methods: {
        checkConflict(times, object, crn) {
          for(let i=0;i<Object.keys(app.selected).length;i++){//Check every enabled class
            let key = Object.keys(app.selected)[i]
            if(crn == key){
              continue;
            }
            if(app.selected[key]){//only if it is actually enabled
              let has_conflict = [];
              for(var j=0;j<times.length;j++){//for every time in the current class
                for(var k=0;k<app.timeslots[key].length;k++){//for every time in the enabled class
                  if(app.timeslots[key][k].Days.some(r=> times[j].Days.includes(r))){
                    if(app.timeslots[key][k].Time_start == -1 || app.timeslots[key][k].Time_end == -1){
                      continue;
                    }
                    if(new Date(times[j].Date_start+"/2020") >= new Date(app.timeslots[key][k].Date_start+"/2020") && new Date(times[j].Date_start+"/2020") <= new Date(app.timeslots[key][k].Date_end+"/2020")){
                    }else{
                      continue;
                    }
                    if(new Date(times[j].Date_end+"/2020") >= new Date(app.timeslots[key][k].Date_start+"/2020") && new Date(times[j].Date_end+"/2020") <= new Date(app.timeslots[key][k].Date_end+"/2020")){
                    }else{
                      continue;
                    }


                    if(times[j].Time_start >= app.timeslots[key][k].Time_start && times[j].Time_start <= app.timeslots[key][k].Time_end){
                      has_conflict.push(key);
                    }else if(times[j].Time_end >= app.timeslots[key][k].Time_start && times[j].Time_end <= app.timeslots[key][k].Time_end){
                      has_conflict.push(key);
                    }else if(times[j].Time_start <= app.timeslots[key][k].Time_start && times[j].Time_end >= app.timeslots[key][k].Time_start){
                      has_conflict.push(key);
                    }else if(times[j].Time_start <= app.timeslots[key][k].Time_end && times[j].Time_end >= app.timeslots[key][k].Time_end){
                      has_conflict.push(key);
                    }
                  }
                }
              }
              if(has_conflict.length > 0){
                // console.log(has_conflict);
                for(let j = 0;j<has_conflict.length;j++){
                  console.log("Conflicts with: "+app.crn_to_name[has_conflict[j]])
                }
                $(event.currentTarget).css({backgroundColor: '#FF0000'}, 'fast').animate({backgroundColor: ''}, 1000);
                return true;
              }
            }
          }
          console.log("Good")
          $(event.currentTarget).css({backgroundColor: '#00FF00'}, 'fast').animate({backgroundColor: ''}, 1000);
        }
      }
    })

    $.getJSON('./courses.json', function (json) {
        app.courses = json.departments;
    });
  </script>
</body>
</html>
