<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/media/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />
  <title>QuACS</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script
			  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
			  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
			  crossorigin="anonymous"></script>
</head>
<body>
  <div id="app">

    <div class="container">
      <div class="row">
        <br>
      </div>
      <div class="row">
        <div class="col-xs">
        </div>
        <div class="col-lg">
          <div class="alert alert-info" role="alert">
            <b>NOTE:</b> QuACS is currently showing course schedules for Summer 2020
          </div>
          <img src="/media/quacs_logo.png" alt="QuACS logo" height="50">
          <br>
          <p>
            <h3>Welcome to QuACS!</h3>
            This website was quickly made because I dont understand how yacs has not been updated yet and I found it very hard to visualize course conflicts without yacs
            <br>
            You can view the source code here <a href="https://github.com/quacs/quacs-old">https://github.com/quacs/quacs-old</a>. Feel free to make a PR or add an issue. I will try to fix any bugs.
            <br>
            - ELi
          </p>
          <h3>How to use:</h3>
          <ul>
            <li>To use the website, click the checkbox next to any section of classes to add it to classes you plan on registering for.
            <li>Then, click the check conflict button next to any class to see if it conflicts with any of the classes you have selected.
            <li>Please notice that the "check conflict" button only checks for conflicts regarding that specific course, but it does not account for any conflicts that may exist between the courses you have already selected.
            <li>If the button flashes green, that course does not conflict with any of the classes you have selected. If it flashes red, it does conflict.
            <li>This website will also account for 6 week courses. So, if 2 courses happen at the same time, but during different halves of the sumemr, they will not be marked as conflicting.
          </ul>
          <br>
          <div class="desktop-hide">
            <h3 style="padding-top:2rem">Selected courses:</h3>
            <div v-for="(val,crn) in selected">
              <div v-if="val">
                <div>{{crn_to_name[crn]}}</div>
                <div style="margin-left:1rem">{{crn}}</div>
                <br>
              </div>
            </div>
            <br>
            <br>
            <br>
          </div>
          <div class="row">
            <div class="col">
              <h3>All courses:</h3>
              <div v-for="department in courses">
                <h3 class="course_title" onclick="$(this).parent().children('.course-container').slideToggle()" style="cursor: pointer;">{{department.code}}: <span style="font-size:15pt">{{department.name}}</span></h3>
                <ul class="course-container list-group list-group-flush" style="display: none;">
                  <li v-for="course in department.courses" style="margin-left:2rem" class="list-group-item">
                    <h5><b>{{course.Title}}</b> ({{course.Subj}}-{{course.Crse}}) <a :href="getCatalogUrl(course.Subj, course.Crse)">Catalog</a></h5>
                    <p>{{getDescription(course.Subj, course.Crse)}}</p>
                    <template v-for="section in course.Sections">
                      <label :for="section.CRN" style="margin-left:2rem; padding:.25rem; margin-bottom:0px"  @mouseleave="removeColors()" @mouseover="checkConflict(section.timeslots, $event, section.CRN)">
                        <input type="checkbox" :id="section.CRN" v-model="selected[section.CRN]" v-bind="timeslots[section.CRN]=section.timeslots, crn_to_name[section.CRN] = section.Title+' '+section.Subj+'-'+section.Crse+' (Section: '+section.Sec+')', crn_to_times[section.CRN]=section.timeslots">
                        <span :for="section.CRN">Section:{{section.Sec}} CRN:{{section.CRN}} Dates:{{section.timeslots[0].Date_start}}-{{section.timeslots[0].Date_end}}</span>
                        <div v-for="time in section.timeslots" style="margin-left:2rem">
                          <div v-for="day in time.Days" style="margin-left:2rem">
                            <span>{{day}}: {{formatTime(time.Time_start)}}-{{formatTime(time.Time_end)}}</span>
                          </div>
                        </div>
                      </label>
                      <br>
                    </template>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-3 mobile-hide">
              <div class="sticky-top">
                <h3>Selected courses:</h3>
                <div v-for="(val,crn) in selected">
                  <div v-if="val" :id="'selected-'+crn" style="padding:.25rem">
                    <button type="button" class="close" v-on:click="removeClass(crn)" title="Remove Class">
                      <span>&times;</span>
                    </button>
                    <div>{{crn_to_name[crn]}}</div>
                    <div style="margin-left:1rem">{{crn}}</div>
                    <div v-for="time in crn_to_times[crn]" style="margin-left:2rem">
                      <div v-for="day in time.Days" style="margin-left:2rem">
                        <span>{{day}}: {{formatTime(time.Time_start)}}-{{formatTime(time.Time_end)}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs">
        </div>
      </div>
    </div>
  </div>

  <style media="screen">
    .course_title{
      padding: .25rem;
    }
    .course_title:hover{
      background-color: lightgrey;
    }

    .desktop-hide{
      display: none;
    }

    @media only screen and (max-width: 550px) {
        /* Put this on elements you dont need on mobile */
        .mobile-hide {
            display: none !important;
        }

        .desktop-hide{
          display: block;
        }
    }

    .red{
      background-color: red;
    }

    .green{
      background-color: #00FF00;
    }
  </style>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        courses: null,
        selected: {},
        crn_to_name: {},
        crn_to_times: {},
        timeslots: {},
        catalog: {}
      },
      mounted() {
        if (localStorage.selected) {
          this.selected = JSON.parse(localStorage.getItem('selected'));
        }
      },
      watch: {
        selected: {
          handler() {
            localStorage.setItem('selected', JSON.stringify(this.selected));
          },
          deep: true,
        }
      },
      methods: {
        checkConflict(times, object, crn) {
          let conflict_found = false;
          for(let i=0;i<Object.keys(app.selected).length;i++){//Check every enabled class
            let key = Object.keys(app.selected)[i]
            if(crn == key){
              continue;
            }
            if(app.selected[key]){//only if it is actually enabled
              let this_conflicts = false;
              for(let j=0;j<times.length;j++){//for every time in the current class
                for(let k=0;k<app.timeslots[key].length;k++){//for every time in the enabled class
                  if(app.timeslots[key][k].Days.some(r=> times[j].Days.includes(r))){
                    if(app.timeslots[key][k].Time_start == -1 || app.timeslots[key][k].Time_end == -1){
                      continue;
                    }
                    if(new Date(times[j].Date_start+"/2020") >= new Date(app.timeslots[key][k].Date_start+"/2020") && new Date(times[j].Date_start+"/2020") <= new Date(app.timeslots[key][k].Date_end+"/2020")){
                    }else{
                      continue;
                    }
                    if(new Date(times[j].Date_end+"/2020") >= new Date(app.timeslots[key][k].Date_start+"/2020") && new Date(times[j].Date_end+"/2020") <= new Date(app.timeslots[key][k].Date_end+"/2020")){
                    }else{
                      continue;
                    }


                    if(times[j].Time_start >= app.timeslots[key][k].Time_start && times[j].Time_start <= app.timeslots[key][k].Time_end){
                      this_conflicts = true;
                    }else if(times[j].Time_end >= app.timeslots[key][k].Time_start && times[j].Time_end <= app.timeslots[key][k].Time_end){
                      this_conflicts = true;
                    }else if(times[j].Time_start <= app.timeslots[key][k].Time_start && times[j].Time_end >= app.timeslots[key][k].Time_start){
                      this_conflicts = true;
                    }else if(times[j].Time_start <= app.timeslots[key][k].Time_end && times[j].Time_end >= app.timeslots[key][k].Time_end){
                      this_conflicts = true;
                    }
                  }
                }
              }
              if(this_conflicts){
                $('#selected-'+key).addClass('red');
                $(event.currentTarget).addClass('red');
                conflict_found = true;
              }
            }
          }
          if(conflict_found){
            return;
          }
          $(event.currentTarget).addClass('green');
          // $(event.currentTarget).css({'background-color': '#00FF00'}, 0).animate({'background-color': ''}, 1000);
        },
        removeColors() {
          $('.red').removeClass('red');
          $('.green').removeClass('green');
        },
        removeClass(crn) {
          app.selected[crn] = false;
        },
        formatTime(time) {
          let hour = Math.floor(time/100)
          let min = (time%100).toString()
          let output = ""
          if(hour > 12){
            output = ('0' + (hour-12)).slice(-2);
          }else{
            output = ('0' + hour).slice(-2);
          }
          output+=":"+('0' + min).slice(-2);
          if(hour > 11){
            output+="pm";
          }else{
            output+="am";
          }
          return output;
        },
        getDescription(subject, code){
          let output = ""
          if(subject+'-'+code in app.catalog)
            output+=app.catalog[subject+'-'+code].description + ' '
          if(subject+'-'+code in app.catalog)
            output+=app.catalog[subject+'-'+code].pre_req + ' '

          return output
        },
        getCatalogUrl(subject, code){
          if(subject+'-'+code in app.catalog)
            return app.catalog[subject+'-'+code].url
        }
      }
    })

    $.getJSON('./courses.json', function (json) {
        app.courses = json.departments;
    });
    $.getJSON('./catalog.json', function (json) {
        app.catalog = json;
    });
  </script>
</body>
</html>
